.rdw-editor-toolbar.toolbarClassName{
    justify-content: center;
    height: 3rem;
    margin-bottom: 0;
    border-bottom-color: rgb(209,213,219);
}

.DraftEditor-root{
    height: auto;
}

.public-DraftEditor-content h1, h2, h3, h4, h5, h6{
    font-size: revert;
    font-weight: revert;
}