.rdw-editor-toolbar.toolbarClassName{
    justify-content: center;
    height: 3rem;
    margin-bottom: 0;
    border-bottom-color: rgb(209,213,219);
}

.DraftEditor-root{
    height: auto;
}

.public-DraftEditor-content h1, h2, h3, h4, h5, h6{
    font-size: revert;
    font-weight: revert;
}

.public-DraftEditor-content {
    padding: 25px;
    padding-top: 0px;
}
.wrapperClassName { display: flex; flex-direction: column; }
.editorClassName { order: 1; }
.toolbarClassName { order: 2; }

.toolbarClassName {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.editorClassName {
    position: relative;
    height: calc(100vh - 8rem);
    width: 100%;
    border-width: 1px;
    background-color: white;
}

.titleClassName {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 3rem;
    background-color: white;
    border-width: 1px;
    padding: 10px;
}